/* import font from google */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
  font-family: Open Sans;
}

div.css-12ttj6m.epcbefy1 {
  /* padding: 0%; */
}

/* Important limit 200mb  */
div.css-1fttcpj.exg6vvm11 {
  display: none;
}

/* search icon position */
.css-ht50i {
  padding-top: 35px;
}

button.css-firdtp.edgvbvh11 {
  padding-left: 30px;
  padding-right: 33px;
}

/* upload images icon */
.css-fis6aj {
  display: none;
}

/* upload images icon */
.css-po3vlj {
  padding: unset;
}

section.css-po3vlj.exg6vvm15 {
  padding-top: 2px;
  padding-left: 17px;
}

.css-u8hs99.exg6vvm14 {
  margin-left: 12px;
}

/* Browse here */
.css-1x8cf1d.edgvbvh10 {
  display: none;
}


div.css-1kgghpd.e1tzin5v0 {
  padding-top: 0%;
}

div.block-container.css-z5fcl4.egzxvld4 {
  padding-top: 1%;
}

div.block-container.css-12oz5g7.egzxvld2 {
  position: relative;
  padding-top: 0px;
}

body {
  background-color: lightgoldenrodyellow;
}

.css-ytkq5y.e1tzin5v1 {
  padding-top: 1.69rem;
}


/* Column Color */
/* div[data-testid="stHorizontalBlock"] > div:first-of-type {
  background-color: #fffe001a;
} */

#cloth-recommendation-system {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: rgb(49, 51, 63);
  padding: 1.25rem 160px 1rem;
  margin: 0px;
  line-height: 1.2;
}

/* for pixing image in centre */
.css-1v0mbdj.etr89bj1 img {
  width: 200px;
  border-radius: 50%;
  margin: 75px;
  margin-left: 72px;
  margin-top: 31px;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #0101ff !important;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
header {
  visibility: hidden;
}
